body {
    margin: 0px 10px;
    padding: 0;
    background-color: #202937;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #35455C;
    position: relative;
    
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 20px 23px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    font-family: Montserrat;
    text-align: center;
}

/* Style the hamburger menu */
.topnav a.icon {

    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    border-radius: 100px;
    border: 2px solid #C9AB64;

}

.topnav a.icon:hover {
    background-color: #C9AB64;
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    border-radius: 100px;
    border: 2px solid #efefef;

}

/* Add a grey background color on mouse-over */
.topnav #myLinks :hover {
    background-color: rgba(0, 0, 0, .4);
    color: #efefef; 
    border-radius: 5px;
    border: 2px solid #efefef;
}

.topnav #myLinks :active {
    border-radius: 5px;
    border: 2px solid #C9AB64;
    background-color: #efefef;
    color: #35455C;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #35455C;
    color: white;
    width: 100%;
}

.topnav img {
    left: 0;
    top: 0;
    padding: 0;
    width: 17%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

#myLinks .button {
    background-color: #C9AB64;
    border: 2px solid #efefef;
    color: rgba(0, 0, 0, .4);
    font-family: Knewave;
}

#myLinks input.search-input {font-family: Montserrat; 
    text-align: center;
    padding: 2.5px;}

/* Header */

main {
    height: 600px;
    
}

main .b1 { color: #efefef; font-size: .4em; margin: 0px 5px 15px 0px; }

main .b2 { color: #efefef; text-decoration: underline;font-size: .4em;margin: 0px 5px 5px 0px;}

main .b3 {color: #C9AB64; text-decoration: underline;font-size: .4em;margin: 0px 5px 5px 0px;}

main img.arrow {width: 5px; height: 5px; margin:  5px 3px -.7px 0px;} /* get all icons pre coloured from figma */

.mainContainer {
    background-color: #35455C;
    height: 200px; 
    margin-top: 5px;
}

.mainContainer h1 {
    width: 100%;
    color: #efefef;
    text-align: center;
    font-size: 3em;
    font-family: Knewave, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 30px;
}

main .mainContainer .Read {
    width: 100%;
    color: #C9AB64;
    text-align: center;
    font-size: 3em;
    font-family: Knewave, Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: -25px;
}

.leftSideMain {
    height: 220px;
}

/* Photo Container */
.ArticleContainer article {width: 100%; height: auto; padding-bottom: 10px; }

.ArticleContainer img {width: 100%; height: auto; padding-bottom: 10px; }

.ArticleContainer h2 {width: 100%; height: auto; padding-bottom: 10px; text-align: center;}

.ArticleContainer {background-color: #efefef; margin-top: 20px; display: block; padding:  15px;}

p.Date, p.Author,p.photographer {font-size: .6em; text-align: end;}

/* Footer */

ul.footer_bar {
    margin:1400px 0 0 0;
    display: flex;
    justify-content: center;
}

footer .footer_bar {
    background-color: rgba(0, 0, 0, .8);
    list-style: none;
    text-align: center;
    color: #efefef;
    padding: 0;
    height: 300px;
    flex-direction: column;
}


.footer_bar li a {
    color: #efefef;
    text-decoration: none;
}

.footer_bar li a:hover {
    color: #C9AB64;
    text-decoration: #C9AB64;
}

.footer_bar li a:active {
    color: #35455C;
    text-decoration: #35455C;
}

section {width: 0; background-color: none;  display: none; height: 0px;}


@media only screen and (min-width: 412px) {

    body {
        margin: 0px 60px;
    }

    /* Main */
    main .b1 { color: #efefef; font-size: .4em; margin: 0px 5px 15px 0px; }

    main .b2 { color: #efefef; text-decoration: underline;font-size: .4em;margin: 0px 5px 5px 0px;}
    
    main .b3 {color: #C9AB64; text-decoration: underline;font-size: .4em;margin: 0px 5px 5px 0px;}
    
    main img.arrow {color: #efefef; width: 5px; height: 5px; margin:  0 5px -.7px 0px;} /* get all icons pre coloured from figma */
    
   
    main {
        height: 400px;
    }

    .mainContainer {
        height: 300px;
    }

    .mainContainer h1 {
        width: 100%;
        color: #efefef;
        text-align: center;
        font-size: 5em;
        font-family: Knewave, Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 40px;
    }

    .mainContainer p.Read {
        width: 100%;
        color: #C9AB64;
        text-align: center;
        font-size: 5em;
        font-family: Knewave, Arial, Helvetica, sans-serif;
        margin: 0;
        margin-top: -25px;
    }
    

    footer .footer_bar {
        margin-top: 1650px;
    }

}

@media only screen and (min-width: 1060px) {

    body {
        margin: 0px 80px;
    }

    /* Nav */

    .topnav #myLinks {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    #myLinks .button {
        background-color: #C9AB64;
        border: 2px solid #efefef;
        color: rgba(0, 0, 0, .4);
        font-family: Knewave;
        border-radius: 5px;
        margin-right: 4px;
    }

   

    #myLinks .button:active {
        background-color: #C9AB64;
        border: 2px solid #efefef;
        background-color: #efefef;
        color: #35455C;
        border-radius: 5px;
        margin-right: 4px;
    }

    #myLinks a:hover {
        border-radius: 5px;
        border: 2px solid #efefef;
    }
    #myLinks a:active {
        border-radius: 5px;
        border: 2px solid #C9AB64;
        background-color: #efefef;
        color: #35455C;
    }

    /* Main */

    main {
        height: 1000px;
        display: block;
        
    }

    .mainContainer {
        height: 500px;
        width: 100%;
        
    }

    .mainContainer h1 {
        width: 100%;
        color: #efefef;
        text-align: center;
        font-size: 7em;
        font-family: Knewave, Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 100px;
    }

    .mainContainer p.Read {
        width: 100%;
        color: #C9AB64;
        text-align: center;
        font-size: 7em;
        font-family: Knewave, Arial, Helvetica, sans-serif;
        margin: 0;
        margin-top: -25px;
    }

    .ArticleContainer {padding: 40px; margin-top: 30px; }

    .ArticleContainer img {width: 100%; height: 1000px;}

    .ArticleContainer img.guide {width: 100%; height: 500px;}

       /* Nav toggle */

   .topnav a.icon {
    display: none;
}
    footer .footer_bar {
        margin-top: 1950px;
    }

}